body {
    background-color: #0f172a;
    color: white;
    font-family: Arial;
    padding: 20px;
}

h1 {
    color: #00ffcc;
}

section {
    background: #1e293b;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

button {
    padding: 8px 12px;
    margin-top: 5px;
    cursor: pointer;
}
